<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Internal Server Error</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="{{ STATIC_URL }}bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css">

  </head>

  <body>

    <div class="container">

      <div class="masthead">
        <h3 class="muted">Internal Server Error</h3>
      </div>

      <!-- Example row of columns -->
      <div class="row-fluid">
      poop!
      </div>

      <hr>

      <div class="footer">
        <!--<p>&copy;</p>-->
      </div>

    </div> <!-- /container -->

  </body>
</html>
