<!DOCTYPE html>
{% load url from future %}
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{% block title %}Spending{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{{ STATIC_URL }}images/favicon.144.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="{{ STATIC_URL }}images/favicon.114.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="{{ STATIC_URL }}images/favicon.72.png">
    <link rel="apple-touch-icon-precomposed" href="{{ STATIC_URL }}images/favicon.57.png">

    <link rel="shortcut icon" type="image/x-icon" href="{{ STATIC_URL }}images/favicon.ico">
    <link href="{{ STATIC_URL }}bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <style type="text/css">
      .sidebar-nav {
        padding: 9px 0;
      }

      body {
        padding-top: 60px;
        padding-bottom: 40px;
      }

      @media (max-width: 980px) {
        /* Enable use of floated navbar text */
        .navbar-text.pull-right {
          float: none;
          padding-left: 5px;
          padding-right: 5px;
        }
      }

      form textarea { height: 80px; }
    </style>
    <link href="{{ STATIC_URL }}bootstrap/css/bootstrap-responsive.min.css" rel="stylesheet" type="text/css">
    {% block extrahead %}
    {% endblock %}

  </head>

  <body>

    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container-fluid">
          <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="brand" href="/">Spending</a>
          <div class="nav-collapse collapse">
            {% if user.is_authenticated %}
            <p class="navbar-text pull-right">
              Logged in as <b>{{ user.username }}</b>
              <small>(<a href="/admin/logout/?next=/">Log out</a>)</small>
            </p>
            <ul class="nav">
                <li {% if current_url == '/' %}class="active"{% endif %}><a href="/">Home</a></li>
                <li {% if current_url == '/expenses/' %}class="active"{% endif %}><a href="{% url 'expenses' %}">Expenses</a></li>
                <li {% if current_url == '/calendar/' %}class="active"{% endif %}><a href="{% url 'calendar' %}">Calendar</a></li>
                <li {% if current_url == '/charts/' %}class="active"{% endif %}><a href="{% url 'charts' %}">Charts</a></li>
                <li {% if current_url == '/categories/' %}class="active"{% endif %}><a href="{% url 'categories' %}">Categories</a></li>
            </ul>
            {% else %}
            <p class="navbar-text pull-right">
              <a href="/login/?next=/">Log in</a>
            </p>
            {% endif %}
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>

    <div class="container-fluid">

      {% block pre_main %}
      {% endblock %}

      <!-- Example row of columns -->
      <div class="row-fluid">
      {% block main %}
      {% endblock %}
      </div>

    </div> <!-- /container -->

    <script src="{{ STATIC_URL }}js/libs/jquery-1.9.1.min.js"></script>
    <script src="{{ STATIC_URL }}bootstrap/js/bootstrap.min.js"></script>
    {% block extrajs %}
    {% endblock %}
  </body>
</html>
