{% extends "base.html" %}
{% load url from future %}

{% block main %}
<table  class="table table-bordered table-striped">
<thead>
  <tr>
    <th>Month</th>
    <th>Total w/o Rent</th>
    <th>Rent</th>
    <th>Total w Rent</th>
  </tr>
</thead>
<tfoot>
  <tr>
    <td>TOTAL</td>
    <td>{{ total_str }}</td>
    <td>{{ total_rent_str }}</td>
    <td>{{ total_total_str }}</td>
  </tr>
<tfoot>
{% for each in months %}
  <tr>
    <td><a href="{% url 'expenses' %}?month={{ each.month }}&amp;year={{ each.year }}">{{ each.date }}</a></td>
    <td>{{ each.amount_str }}</td>
    <td>{{ each.amount_rent_str }}</td>
    <td>{{ each.amount_total_str }}</td>
  </tr>
{% endfor %}
</table>
{% endblock %}
