{% extends "base.html" %}
{% load url from future %}

{% block extrahead %}
<link href="{{ STATIC_URL }}jquery-ui/css/ui-lightness/jquery-ui-1.10.1.custom.min.css" rel="stylesheet" type="text/css">
<link href="{{ STATIC_URL }}rickshaw/rickshaw.min.css" rel="stylesheet" type="text/css">
<style>
#chart {
	display: inline-block;
}
#legend {
	display: inline-block;
	position: relative;
	left: 8px;
}
#legend_container {
	position: absolute;
	right: 0;
	bottom: 26px;
	width: 0;
}
#chart_container {
	float: left;
	position: relative;
}
</style>
{% endblock %}

{% block main %}
<table  class="table table-bordered table-striped">
<thead>
  <tr>
    <th>Month</th>
    <th>Total w/o Rent</th>
    <th>Rent</th>
    <th>Total w Rent</th>
  </tr>
</thead>
<tfoot>
  <tr>
    <td>TOTAL</td>
    <td>{{ total_str }}</td>
    <td>{{ total_rent_str }}</td>
    <td>{{ total_total_str }}</td>
  </tr>
<tfoot>
{% for each in months %}
  <tr>
    <td><a href="{% url 'expenses' %}?month={{ each.month }}&amp;year={{ each.year }}">{{ each.date }}</a></td>
    <td>{{ each.amount_str }}</td>
    <td>{{ each.amount_rent_str }}</td>
    <td>{{ each.amount_total_str }}</td>
  </tr>
{% endfor %}
</table>

<div id="chart_container">
<div id="chart"></div>
<div id="legend_container">
<div id="smoother" title="Smoothing"></div>
<div id="legend"></div>
</div>
<div id="slider"></div>
</div>

{% endblock %}


{% block extrajs %}
<script src="{{ STATIC_URL }}js/libs/d3.min.js"></script>
<script src="{{ STATIC_URL }}jquery-ui/jquery-ui-1.10.1.sortable.min.js"></script>
<script src="{{ STATIC_URL }}rickshaw/rickshaw.js"></script>
<script>

function buildGraph(seriesData) {

  var graph = new Rickshaw.Graph( {
  	element: document.querySelector("#chart"),
  	width: 635,
  	height: 185,
  	renderer: 'bar',
	series: seriesData
  } );

  graph.renderer.unstack = true;
  graph.render();

  var legend = new Rickshaw.Graph.Legend( {
  	graph: graph,
  	element: document.getElementById('legend')

  } );

  var shelving = new Rickshaw.Graph.Behavior.Series.Toggle( {
  	graph: graph,
  	legend: legend
  } );

  var order = new Rickshaw.Graph.Behavior.Series.Order( {
  	graph: graph,
  	legend: legend
  } );

  var highlight = new Rickshaw.Graph.Behavior.Series.Highlight( {
  	graph: graph,
  	legend: legend
  } );
}

var seriesData = {{ series|safe }};
$(function() {
  buildGraph(seriesData);
});
</script>
{% endblock %}
