{% extends "base.html" %}

{% block extrahead %}
<link href="{{ STATIC_URL }}jquery-ui/css/ui-lightness/jquery-ui-1.10.1.custom.min.css" rel="stylesheet" type="text/css">
<link href="{{ STATIC_URL }}rickshaw/rickshaw.min.css" rel="stylesheet" type="text/css">

<style>
.legend {
  float:right;
}

</style>
{% endblock %}

{% block main %}

  <div id="timeline">
    <h3>Timeline</h3>

    <div class="legend"></div>
    <div class="alpha graph-container">
      <div class="graph" style="height:350px;width:70%;"></div>
    </div>

  </div>

{% endblock %}

{% block extrajs %}
<script src="{{ STATIC_URL }}js/libs/d3.min.js"></script>
<script src="{{ STATIC_URL }}jquery-ui/jquery-ui-1.10.1.sortable.min.js"></script>
<script src="{{ STATIC_URL }}rickshaw/rickshaw.js"></script>
<script>
  var $timeline = $('#timeline');

  var url = '/charts/timeline/';
  var graph = new Rickshaw.Graph.Ajax({
    element: $timeline.find('.graph')[0],
    renderer: 'bar',
    dataURL: url,
    onData: function(d) {
      return d.data;
    },
    onComplete: function(transport) {
      var graph = transport.graph;
      var hoverDetail = new Rickshaw.Graph.HoverDetail( {
        graph: graph
      } );

      var legend = new Rickshaw.Graph.Legend( {
        graph: graph,
        element: $timeline.find('.legend')[0]
      } );

      new Rickshaw.Graph.Behavior.Series.Toggle({
        graph: graph,
        legend: legend
      });

      new Rickshaw.Graph.Behavior.Series.Order({
        graph: graph,
        legend: legend
      });

      new Rickshaw.Graph.Axis.Time( {
        graph: graph
      }).render();

      new Rickshaw.Graph.Axis.Y({
        graph: graph,
        orientation: 'left',
        element: $timeline.find('.y-axis')[0]
      }).render();

      graph.render();
    }
  });
</script>
{% endblock %}
