{% extends "base.html" %}

{% block extrahead %}
<link href="{{ STATIC_URL }}css/libs/alertify/alertify.core.css" rel="stylesheet" type="text/css">
<link href="{{ STATIC_URL }}css/libs/alertify/alertify.default.css" rel="stylesheet" type="text/css">
{% endblock %}

{% block main %}

  {% if user.is_authenticated %}
  <form method="post" class="form-horizontal expense-entry">{% csrf_token %}
    {{ form }}
    <div class="form-actions">
    <button type="submit" class="btn btn-primary">Save</button>
    <button type="reset" class="btn">Cancel</button>
    </div>
  </form>
  {% else %}
  <p><a href="/login/?next=/">Log in</a></p>
  {% endif %}

{% endblock %}
{% block extrajs %}
<script src="{{ STATIC_URL }}js/libs/bootstrap-typeahead.min.js"></script>
<script src="{{ STATIC_URL }}js/libs/alertify.min.js"></script>
<script>
var CATEGORIES = {{ category_names|safe }};

$.fn.serializeObject = function() {
  var o = {};
  var a = this.serializeArray();
  $.each(a, function() {
    if (o[this.name] !== undefined) {
      if (!o[this.name].push) {
        o[this.name] = [o[this.name]];
      }
      o[this.name].push(this.value || '');
    } else {
      o[this.name] = this.value || '';
    }
  });
  return o;
};

$(function() {
  if ($('#id_amount').val() == '') {
    $('#id_amount').focus();
  }
  $('.typeahead').typeahead({
    source: CATEGORIES
  });

  $('form.expense-entry').submit(function() {
    var $form = $(this);
    $.post(location.href, $form.serializeObject(), function(response) {
      if (response.errors) {
        $.each(response.errors, function(key, message) {
          alert('ERROR ' + key + ': ' + message);
        })
      } else {
        if (response.success_message) {
          alertify.success(response.success_message);
        }
        if (response.todays_date) {
          $('#id_date').val(response.todays_date);
        }
        if (response.amount) {
          $('#id_amount').val(response.amount);
        }
        if (response.category) {
          $('#id_category').val(response.category);
        }
        if (!response.was_edit) {
          $form[0].reset();
        }
      }
    });
    return false;
  });
});


</script>
{% endblock %}
