<!DOCTYPE html>
<html manifest="/mobile/appcache.manifest" ng-app="myApp">
  <head>
    <meta charset="utf-8">
    <title>Spending</title>

    <!-- Sets initial viewport load and disables zooming  -->
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no">

    <!-- Makes your prototype chrome-less once bookmarked to your phone's home screen -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">

    <!-- Set Apple icons for when prototype is saved to home screen -->
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{{ STATIC_URL }}images/favicon.144.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="{{ STATIC_URL }}images/favicon.114.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="{{ STATIC_URL }}images/favicon.72.png">
    <link rel="apple-touch-icon-precomposed" href="{{ STATIC_URL }}images/favicon.57.png">

    <!-- Include the compiled Ratchet CSS -->
    <link rel="stylesheet" href="{{ STATIC_URL }}ratchet/ratchet.css">

    <!-- Include the compiled Ratchet JS -->
    <script src="{{ STATIC_URL }}ratchet/ratchet.js"></script>

    <script src="{{ STATIC_URL }}js/libs/angular.min.js"></script>
    <script src="{{ STATIC_URL }}js/angularmobile.js"></script>

    <style type="text/css">
        .welcome {
          line-height: 1.5;
          color: #555;
        }
        input.missing, select.missing { border:1px solid red; }
        .temphidden {
          display: none;
        }
        .hidden { display:none; }
    </style>

  </head>
  <body ng-controller="SpendingCtrl">

  <!-- Make sure all your bars are the first things in your <body> -->
  <header class="bar-title">
    <h1 class="title">Spending</h1>
  </header>

  <!-- Wrap all non-bar HTML in the .content div (this is actually what scrolls) -->
  <div class="content" ng-class="{hidden: !panels.form}"  id="home" data-title="Spending">
    {% verbatim %}
    <form action="" class="content-padded expense-entry">
      <input type="number" name="amount" placeholder="Amount"
             ng-model="amount"
             ng-class="{missing: validationerrors.amount}">
      <select name="category" ng-model="category"
              ng-class="{missing: validationerrors.category}">
      <option value="">Category</option>
      <option ng-repeat="category in categories"
              value="{{ category.id }}"
      >{{ category.name }}</option>
      <!--<option value="_other" ng-click="select_other()">Other... (specify)</option>-->
      </select>
      <input type="text"
        ng-class="{hidden: !inputs.other_category, missing: validationerrors.other_category}"
        ng-model="other_category"
        placeholder="Other category" name="other_category">
      <a class="button button-block" ng-click="submit()">Submit</a>
      <input type="date" id="id_date" name="date" placeholder="Date" ng-model="date">
      <input type="text" name="notes" placeholder="Notes" ng-model="notes">

      <p class="username" ng-model="username" ng-show="!success_message">Logged in as <b>{{ username }}</b></p>

      <p class="notloggedin" ng-show="is_logged_in">Currently <b>not logged in</b></p>

      <p class="offline" ng-show="is_offline">Currently in <b>offline mode</b></p>

      <p class="messages" ng-show="success_message">{{ success_message }}</p>
    </form>
    {% endverbatim %}

    <audio id="till">
      <!-- AAC file (Chrome/Safari/IE9) -->
      <source src="{{ STATIC_URL }}sounds/till_with_bell.m4a" type="audio/mpeg">
      <!-- Ogg Vorbis (Firefox) -->
      <source src="{{ STATIC_URL }}sounds/till_with_bell.ogg" type="audio/ogg">
    </audio>

  </div>

  {% verbatim %}
  <div class="content" ng-class="{hidden: !panels.signin}" id="signin"
   data-title="Sign in"
  >
    <form action="" class="content-padded" ng-submit="signin()">

      <!-- probably not needed -->
      <input type="hidden" name="csrfmiddlewaretoken" ng-model="csrf_token">

      <input type="text" name="username" placeholder="Username" ng-model="id_username">
      <input type="password" name="password" placeholder="Password" ng-model="id_password">
      <a class="button button-block">Submit</a>
    </form>
  </div>
  {% endverbatim %}


<script src="{{ STATIC_URL }}js/libs/jquery-1.9.1.min.js"></script>

  </body>
</html>
